.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
  overflow: auto;
  height: 100vh;
}

.listMain {
  display: flex;
  align-self: center;
  text-align: center;
}
.createList{
    min-width: 280px;
    background: #F0F0F0;
    margin: 10px;
    cursor: pointer;
}

.GrAddCircle{
    font-size: 30px;
    margin: 20px;
}
.createBTN{
    cursor: pointer;
}