.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
  overflow: auto;
  height: 100vh;
}

.listMain {
  display: flex;
  align-self: center;
  text-align: center;
}
.createList{
    min-width: 280px;
    background: #F0F0F0;
    margin: 10px;
    margin-top: 100px;
    height: 120px;
    cursor: pointer;
    border: 1px solid #000;
}


.GrAddCircle{
    font-size: 30px;
    margin: 20px;
}
.createBTN{
    cursor: pointer;
}
.modal1{
  z-index: 9999;
}
.taskMain{
  cursor: grab;
}