.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
  overflow: auto;
  height: 100vh;
}

.listMain {
  display: flex;
  align-self: center;
  text-align: center;
}
.createList{
    min-width: 280px;
    background: #F0F0F0;
    margin: 10px;
    margin-top: 100px;
    height: 120px;
    cursor: pointer;
    border: 1px solid #000;
}


.GrAddCircle{
    font-size: 30px;
    margin: 20px;
}
.createBTN{
    cursor: pointer;
}
.modal1{
  z-index: 9999;
}
.taskMain{
  display: flex;
  cursor: grab;
  background: #fff;
  margin: 10px;
  padding: 5px;
  justify-content: left;
  text-align: left;
  border-radius: 3px;
  align-items: center;
  /* position: relative; */
}
input[type=checkbox] {
  position: relative;
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 5px;
  /* z-index: ; */
}
input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px solid #c26a6a;
  border-radius: 3px;
  background-color: #f6cbcb;
}
input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}